.jil-header {
  background-color: maroon;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo img {
  height: 90px;
  width: 88px;
}

.jil-header nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}

.jil-header nav a:hover {
  color: #FFA500;
  border-bottom: 2px solid rgb(255, 94, 0);
}

.hero {
  background-image: url('../assets/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center, top;
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 20px 0 0 20px;
}

.search-bar button {
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.search-bar button img {
  height: 20px;
  width: 20px;
}

.email-us {
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
}

.email-us img {
  height: 50px;
  width: 100px;
  margin-right: 0.5rem;
}
 .login-button {
  background-color: orangered;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
 }

.login-button:hover {
  background-color: darkorange;
}

.jil-header nav {
  display: flex;
  align-items: center;
}