body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  background-color: #e4600d;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
}

button:hover {
  background-color: #cf5205;
}
